<div class="<%= type %> bg-secondary">
  <% if contests.blank? %>
    <p class="lead text-center pt-3 pb-3 mb-0">There are no <%= type %> contests <%= emojify(emoji) %></p>
  <% else %>
    <p class="lead text-center pt-3 pb-3 mb-0"><%= [contests.size, type.capitalize, 'Contest'.pluralize(contests.size)].join(' ') %></p>

    <div class="table-responsive">
      <table class="table table-borderless table-hover mb-0">
        <thead class="border-top border-bottom">
          <tr>
            <% contests.column_names.each do |column_name| %>
              <% next if column_name.eql?('url') %>
              <% next if ['url', 'owner_url', 'in_24_hours', 'status'].include? column_name %>

              <th scope="col">
                <%= column_name.tr('_', ' ').capitalize %>
              </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% contests.each do |contest| %>
            <tr class="<%= 'in-24-hours' if type == 'future' && contest[:in_24_hours] == 'Yes' %>">
              <% contests.column_names.each do |column_name| %>
                <% next if ['url', 'owner_url', 'in_24_hours', 'status'].include? column_name %>

                <td>
                  <% if column_name.eql? 'name' %>
                    <% unless contest['status'] == 'CODING' %>
                      <a class="add-to-calendar" data-toggle="tooltip" data-placement="top" title="Add to Calendar" target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&dates=<%= contest['start_time'] %>/<%= contest['end_time'] %>&text=<%= contest['name'] %>&location=<%= contest['url'] %>"><%= icon('far', 'calendar-alt') %></a> &nbsp;
                    <% end %>
                    <%= link_to contest['name'], contest['url'], target: '_blank' %>
                  <% elsif column_name.include? 'time' %>
                    <time class="contest-time"><%= contest[column_name] %></time>
                  <% elsif column_name.eql? 'duration' %>
                    <time class="contest-duration"><%= contest[column_name] %></time>
                  <% elsif column_name.eql? 'owner_name' %>
                    <%= link_to contest['owner_name'], contest['owner_url'], target: '_blank' %>
                  <% else %>
                    <%= raw contest[column_name] %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
