<div class="tab-pane fade <%= 'show active' if site_class == SITES.first.second %>" id="pills-<%= site_class %>" role="tabpanel" aria-labelledby="pills-<%= site_class %>-tab">
  <%= render partial: 'show_contests', locals: { contests: future_contests, type: 'future', emoji: ':worried:' } %>
  <br>
  <%= render partial: 'show_contests', locals: { contests: running_contests, type: 'running', emoji: ':grinning:' } %>
</div>
