<div class="row justify-content-center">
  <div class="col-sm-12 col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-0">What is our service?</h5>
      </div>
      <div class="card-body">
        <p class="card-text">We bring all running and future contests between your hands <%= emojify(':open_hands::skin-tone-3:') %> from many different online judges.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-0">Why we do this?</h5>
      </div>
      <div class="card-body">
        <p class="card-text">We believe we can save your time <%= emojify(':clock1030:') %> and let you touch <%= emojify(':point_left::skin-tone-3:') %> the information from many different places, in one place.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-0">How we pay?</h5>
      </div>
      <div class="card-body">
        <p class="card-text">We use a free host which is <%= link_to('Heroku', 'https://heroku.com', target: :_blank) %>,
                             so we pay only for the domain till now, but the free host is very
                             weak, it shutdown every 30 minutes if no one visit the site and has only 500MB storage space, so
                             if you want to help up you can donate here <%= emojify(':relieved:') %>.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Who is our team?</h5>
      </div>
      <div class="card-body">
        <p class="card-text">For now I'm alone <%= emojify(':cry:') %>, but if you want to help, join KONTESTS team now!
                             <%= emojify(':heart_eyes:') %>, there is a lot of ideas and projects we can build them together and make KONTESTS better than ever.</p>
      </div>
    </div>
  </div>
</div>
