<%= render 'join_team_modal' %>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    <div class="card-deck">
      <div class="card mb-4">
        <div class="card-header">
          <div class="container">
            <div class="row text-center">
              <div class="col">
                <div class="sec-title">
                  <h2>What is our service?</h2>
                  <h3>The simplest and the greatest</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col">
                <p class="card-text about-text-size">
                  We bring all running and future contests between your hands
                  <%= emojify(':open_hands::skin-tone-3:') %> from many
                  different online judges.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <div class="container">
            <div class="row text-center">
              <div class="col">
                <div class="sec-title">
                  <h2>Why we do this?</h2>
                  <h3>The world needs this</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col">
                <p class="card-text about-text-size">
                  We believe we can save your time <%= emojify(':clock1030:') %>
                  and let you touch <%= emojify(':point_left::skin-tone-3:') %>
                  the information from many different places, in one place.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <div class="container">
            <div class="row text-center">
              <div class="col">
                <div class="sec-title">
                  <h2>How we pay?</h2>
                  <h3>There is nothing for free</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col">
                <p class="card-text about-text-size">
                  Till now we are paying for the site from our money, but if you like (or love) this service you can donate <%= link_to('here', 'https://paypal.me/KONTESTS', target: :_blank) %>, to make it faster, better and allow us to provide more features <%= emojify(':relieved:') %>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    <div class="card">
      <div class="card-header">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <div class="sec-title">
                <h2>Who are we?</h2>
                <h3>Humans <%= emojify(':stuck_out_tongue:') %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="container">
          <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-4">
              <div class="our-team">
                <div class="pic">
                  <%= image_tag('team/ali_fadel.jpg', class: 'card-img img-fluid') %>
                </div>
                <div class="team-content">
                  <h3>Ali H. Fadel</h3>
                  <span class="post"></span>
                </div>
                <ul class="social">
                  <li><%= link_to(icon('fab', 'facebook fa-2x'), 'https://fb.com/aliosm97', target: :_blank) %></li>
                  <li><%= link_to(icon('fab', 'github-square fa-2x'), 'https://github.com/AliOsm', target: :_blank) %></li>
                  <li><%= mail_to('aliosm1997@gmail.com', icon('fas', 'envelope-square fa-2x')) %></li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="our-team">
                <div class="pic">
                  <%= image_tag('team/ibraheem_tuffaha.jpeg', class: 'card-img img-fluid') %>
                </div>
                <div class="team-content">
                  <h3>Ibraheem Z. Tuffaha</h3>
                  <span class="post"></span>
                </div>
                <ul class="social">
                  <li><%= link_to(icon('fab', 'facebook fa-2x'), 'https://fb.com/ibrahim.tuffaha.7', target: :_blank) %></li>
                  <li><%= link_to(icon('fab', 'github-square fa-2x'), 'https://github.com/IbraheemTuffaha', target: :_blank) %></li>
                  <li><%= mail_to('bro.t.1996@gmail.com', icon('fas', 'envelope-square fa-2x')) %></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-12 col-md-4 mb-4">
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#joinTeam">
                Join KONTESTS team now!
              </button>
            </div>

            <div class="col-12 col-md-4">
              <a class="btn btn-primary btn-block" href="https://github.com/AliOsm/kontests" target="_blank">Contribute on GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
