<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>All</h2>
        <h4><%= link_to '/api/v1/all', api_v1_all_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>site</td>
                <td>
                  The website hosting the contest, which is one of the following:
                  <% SITES.each_with_index do |site, i| %>
                    <% next if i.zero? %>
                    <code><%= site.first %></code><%= i != SITES.size ? ',' : '.' %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>Codeforces</h2>
        <h4><%= link_to '/api/v1/codeforces', api_v1_codeforces_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all <%= link_to 'Codeforces', 'https://codeforces.com', target: :_blank %> contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>code</td>
                <td>Contest id in <%= link_to 'Codeforces', 'https://codeforces.com/gyms', target: :_blank %>.</td>
              </tr>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>Codeforces::Gym</h2>
        <h4><%= link_to '/api/v1/codeforces_gym', api_v1_codeforces_gym_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all <%= link_to 'Codeforces::Gym', 'https://codeforces.com/gym', target: :_blank %> contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>code</td>
                <td>Contest id in <%= link_to 'Codeforces::Gym', 'https://codeforces.com/gyms', target: :_blank %>.</td>
              </tr>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>difficulty</td>
                <td>Contest difficulty (number of stars).</td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>AtCoder</h2>
        <h4><%= link_to '/api/v1/at_coder', api_v1_at_coder_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all <%= link_to 'AtCoder', 'https://atcoder.jp', target: :_blank %> contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>code</td>
                <td>Contest id in <%= link_to 'AtCoder', 'https://atcoder.jp', target: :_blank %>.</td>
              </tr>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>rated_range</td>
                <td>The rating limit for rated participation in the contest.</td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>CodeChef</h2>
        <h4><%= link_to '/api/v1/code_chef', api_v1_code_chef_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all <%= link_to 'CodeChef', 'https://codechef.com', target: :_blank %> contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>code</td>
                <td>Contest id in <%= link_to 'CodeChef', 'https://codechef.com', target: :_blank %>.</td>
              </tr>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>CS Academy</h2>
        <h4><%= link_to '/api/v1/cs_academy', api_v1_cs_academy_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all <%= link_to 'CS Academy', 'https://csacademy.com', target: :_blank %> contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>HackerEarth</h2>
        <h4><%= link_to '/api/v1/hacker_earth', api_v1_hacker_earth_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all <%= link_to 'HackerEarth', 'https://hackerearth.com', target: :_blank %> contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>company</td>
                <td>The sponsoring company if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>type_</td>
                <td>Contest type.</td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>Kick Start</h2>
        <h4><%= link_to '/api/v1/kick_start', api_v1_kick_start_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all <%= link_to 'Kick Start', 'https://codingcompetitions.withgoogle.com/kickstart', target: :_blank %> contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>LeetCode</h2>
        <h4><%= link_to '/api/v1/leet_code', api_v1_leet_code_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all <%= link_to 'LeetCode', 'https://leetcode.com', target: :_blank %> contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>A2OJ</h2>
        <h4><%= link_to '/api/v1/a2oj', api_v1_a2oj_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: A list of all <%= link_to 'A2OJ', 'https://a2oj.com', target: :_blank %> contests in the site.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Feild</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>code</td>
                <td>Contest id in <%= link_to 'A2OJ', 'https://a2oj.com', target: :_blank %>.</td>
              </tr>
              <tr>
                <td>name</td>
                <td>Contest name.</td>
              </tr>
              <tr>
                <td>url</td>
                <td>Contest link.</td>
              </tr>
              <tr>
                <td>start_time</td>
                <td>Start time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>end_time</td>
                <td>End time of the contest in UTC (Format: <code>%Y-%m-%dT%H:%M:%S.%LZ</code>) if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>duration</td>
                <td>Contest duration in seconds if exists, <code>-</code> otherwise.</td>
              </tr>
              <tr>
                <td>owner_name</td>
                <td>Contest owner name.</td>
              </tr>
              <tr>
                <td>owner_url</td>
                <td>Contest owner profile link in <%= link_to 'A2OJ', 'https://a2oj.com', target: :_blank %>.</td>
              </tr>
              <tr>
                <td>registrants</td>
                <td>Anchor tag containing the number of registrants and the link to the webpage containing the list of them.</td>
              </tr>
              <tr>
                <td>in_24_hours</td>
                <td><code>Yes</code> if the contest starts within the next 24 hours, <code>No</code> otherwise.</td>
              </tr>
              <tr>
                <td>status</td>
                <td><code>CODING</code> if the contest is running, <code>BEFORE</code> otherwise.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h2>SITES</h2>
        <h4><%= link_to '/api/v1/sites', api_v1_sites_path %></h4>
      </div>

      <div class="card-body">
        <p class="lead">Return value: An array of arrays of all supported sites.</p>
        <div class="table-responsive">
          <p>Contest feilds and description:</p>
          <table class="table table-borderless table-hover mb-0">
            <thead class="border-top border-bottom">
              <tr>
                <th>Index</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0</td>
                <td>Site name.</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Underscored site name.</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Site URL.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
