<div class="row justify-content-center mb-4 mt-5">
  <div class="col-12 col-lg-10">
    <div class="card primary-dynamic-bg">
      <div class="card-header">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <div class="sec-title">
                <h2>Why browser extensions?</h2>
                <h3>Because we need them <%= emojify(':nerd_face:') %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="container">
          <div class="row justify-content-center mb-4">
            <div class="col">
              <p class="card-text about-text-size">
                Our vision for KONTESTS is to provide an easy & fast tool for programmers to access online contests information; therefore a one click popup browser extension accessing online judges contests schedule is a must.
              </p>

              <p class="card-text about-text-size">
                The extension was developed during the 12-hours <a href="https://localhackday.mlh.io/" target="_blank">Local Hack Day</a> 2018 hackathon.
              </p>
            </div>
          </div>

          <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-4">
              <a class="btn btn-primary btn-block" href="https://github.com/AliOsm/kontests-browser-extension" target="_blank">Contribute on GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    <div class="card-deck">
      <div class="card primary-dynamic-bg">
        <div class="card-header">
          <div class="container">
            <div class="row text-center">
              <div class="col">
                <div class="sec-title">
                  <h2>Google Chrome</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col">
                <p class="text-center mb-0">
                  <%= link_to('https://chrome.google.com/webstore/detail/kontests/agpdemlkalmmeenclchlajdcmbcacoea', target: :_blank, class: 'browser-extension') do %>
                    <%= icon('fab fa-9x', 'chrome') %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card primary-dynamic-bg">
        <div class="card-header">
          <div class="container">
            <div class="row text-center">
              <div class="col">
                <div class="sec-title">
                  <h2>Mozilla FireFox</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col">
                <p class="text-center mb-0">
                  <%= link_to('https://addons.mozilla.org/en-US/firefox/addon/kontests', target: :_blank, class: 'browser-extension') do %>
                    <%= icon('fab fa-9x', 'firefox') %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
