<div class="table-responsive bg-secondary mb-4">
  <table class="table table-borderless table-hover mb-0">
    <thead class="border-bottom">
      <tr>
        <th scope="col"><%= t(:id) %></th>
        <th scope="col"><%= t(:name) %></th>
        <th scope="col"><%= t(:email) %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= join.id %></td>
        <td><%= join.name %></td>
        <td><%= join.email %></td>
      </tr>  
    </tbody>

    <thead class="border-bottom">
      <th scope="col"><%= t(:how) %></th>
    </thead>
    <tbody>
      <tr>
        <td colspan="3" class="text-pre-wrap"><%= join.how %></td>
      </tr>
    </tbody>
  </table>
</div>