<title>KONTESTS</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Competitive programming contests schedule">
<meta name="keywords" content="competitive programming,problem solving,codeforces,csacademy,atcoder,codechef,a2oj,hacherearth">
<meta name="Distribution" content="Global">
<meta name="author" content="Ali Fadel">
<meta name="copyright" content="Ali Fadel 2018">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="1 days">
<meta name="contact" content="aliosm1997@gmail.com">
<meta name="generator" content="Sublime Text">
<meta name="language" content="English">
<meta name="rating" content="general">
<meta name="web_author" content="Ali Fadel">

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<%= favicon_link_tag 'logo.png' %>

<%= analytics_init if GoogleAnalytics.valid_tracker? %>