<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <%= link_to(root_path, class: 'navbar-brand') do %>
        <%= image_tag('logo.svg', class: 'img-fluid', width: '36', onerror: "this.onerror=null; this.src='logo.png'") %> <span class="align-middle">KONTESTS</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= icon('fas', 'life-ring', 'Supported Sites') %>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% SITES.each_with_index do |site, i| %>
                <% next if i.zero? %>
                <%= link_to(site.first, site.third, class: 'dropdown-item', target: :_blank) %>
              <% end %>
              <div class="dropdown-divider"></div>
              <button type="button" class="dropdown-item btn btn-primary" data-toggle="modal" data-target="#suggestSite">
                Suggest site?
              </button>
            </div>
          </li>

          <li class="nav-item <%= 'active' if action_name == 'browser_extensions' %>">
            <%= link_to(browser_extensions_path, class: 'nav-link') do %>
              <%= icon('fas', 'puzzle-piece', 'Browser Extensions') %>
            <% end %>
          </li>

          <li class="nav-item <%= 'active' if action_name == 'api' %>">
            <%= link_to(api_path, class: 'nav-link') do %>
              <%= icon('fas', 'database', 'API') %>
            <% end %>
          </li>

          <li class="nav-item <%= 'active' if action_name == 'about' %>">
            <%= link_to(about_path, class: 'nav-link') do %>
              <%= icon('fas', 'info-circle', 'About') %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
