<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="default-theme <%= theme %>-theme">
    <%= render 'layouts/suggest_site_modal' %>
    <%= render 'layouts/navbar' %>

    <div id="content">
      <div class="container-fluid">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
